:root {
    --text-color-333: #333;
    --text-color-555: #555;
    --text-color-666: #666;
    --text-color-888: #888;
    --bg-color: #fff;
    --bg-color-222: #222;
    --footer-bg-color: #f8f8f6;
    --select-color: #f5f5f5;
    --menu-top-padding: 7px;
    --text-hover-color: #e34444;
    --border-color: #363636;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: inherit;
    scrollbar-width: smooth;
}

body {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.325rem 0;
}

button,
input,
select {
    border: none;
    outline: none;
}

.btn-return {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 100%;
    padding: 17px 20px;
    font-size: 16px;
    color: #555;
    text-align: center;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-return.show {
    opacity: 1;
    visibility: visible;
}

.btn-return:hover {
    color: #fff;
    background-color: var(--text-hover-color);
}

/* ---------------- Common Style Sheet --------------- */
.container {
    margin: 0 30px;
}

.common-flex {
    display: flex;
    align-items: center;
}

.padding-0-15 {
    padding: 0 15px;
}

.content-box {
    padding: 30px 0;
}

.flex-col-2 {
    width: calc(100% / 2);
}

.flex-col-3 {
    width: calc(100% / 3);
}

.flex-col-4 {
    width: calc(100% / 4);
}

.flex-col-5 {
    width: calc(100% / 5);
}

.flex-col-6 {
    width: calc(100% / 6);
}

.grid,
.grid-col-2,
.grid-col-2-auto,
.grid-col-3,
.grid-col-3-auto,
.grid-col-4,
.grid-col-4-auto,
.grid-col-5,
.grid-col-5-auto,
.grid-col-6,
.grid-col-6-auto,
.grid-1fr-auto,
.grid-auto-1fr {
    display: grid;
    align-items: center;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-2-auto {
    grid-template-columns: repeat(2, auto);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-3-auto {
    grid-template-columns: repeat(3, auto);
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-4-auto {
    grid-template-columns: repeat(4, auto);
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-5-auto {
    grid-template-columns: repeat(5, auto);
}

.grid-col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-col-6-auto {
    grid-template-columns: repeat(6, auto);
}

.grid-1fr-auto {
    grid-template-columns: 1fr auto;
}

.grid-auto-1fr {
    grid-template-columns: auto 1fr;
}

.flag-icon {
    margin-right: 4px;
}


/* ------------------ Common Transition for Menu -------------------- */
.transition-default {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition:
        opacity 0.5s ease,
        visibility 0.5s ease,
        transform 0.5s ease;
}

.transition-hover {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}


/* --------------- Effects for Image Slider ---------------- */
/* effects */

/* Fade */
.t-fade .swiper-slide-active img {
    animation: fade 1s ease;
}

/* Wipe */
.t-wipe .swiper-slide-active img {
    animation: wipe 1s ease;
}

/* Reveal */
.t-reveal .swiper-slide-active img {
    animation: reveal 1s ease;
}

/* Cover */
.t-cover .swiper-slide-active img {
    animation: cover 1s ease;
}

/* Split */
.t-split .swiper-slide-active img {
    animation: split 1s ease;
}

/* Rotate */
.t-rotate .swiper-slide-active img {
    animation: rotate 1s ease;
}

/* Flip */
.t-flip .swiper-slide-active img {
    animation: flip 1s ease;
}

/* Cube (fake but giá»‘ng PPT) */
.t-cube .swiper-slide-active img {
    animation: cube 1s ease;
}

/* Doors */
.t-doors .swiper-slide-active img {
    animation: doors 1s ease;
}

/* Window */
.t-window .swiper-slide-active img {
    animation: window 1s ease;
}

/* Blinds */
.t-blinds .swiper-slide-active img {
    animation: blinds 1s ease;
}

/* Comb */
.t-comb .swiper-slide-active img {
    animation: comb 1s ease;
}

/* Box */
.t-box .swiper-slide-active img {
    animation: box 1s ease;
}

/* Gallery */
.t-gallery .swiper-slide-active img {
    animation: gallery 1s ease;
}

/* Clock */
.t-clock .swiper-slide-active img {
    animation: clock 1s ease;
}

/* Random Bars */
.t-bars .swiper-slide-active img {
    animation: bars 1s ease;
}

/* Switch */
.t-switch .swiper-slide-active img {
    animation: switch 1s ease;
}

/* ===== KEYFRAMES ===== */

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes wipe {
    from {
        clip-path: inset(0 100% 0 0)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes reveal {
    from {
        transform: translateX(100%)
    }

    to {
        transform: none
    }
}

@keyframes cover {
    from {
        transform: scale(1.3)
    }

    to {
        transform: none
    }
}

@keyframes split {
    from {
        clip-path: inset(0 50% 0 50%)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes rotate {
    from {
        transform: rotate(-8deg) scale(1.1)
    }

    to {
        transform: none
    }
}

@keyframes flip {
    from {
        transform: rotateY(90deg)
    }

    to {
        transform: none
    }
}

@keyframes cube {
    from {
        transform: rotateY(-90deg)
    }

    to {
        transform: none
    }
}

@keyframes doors {
    from {
        clip-path: inset(0 50%)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes window {
    from {
        clip-path: inset(40%)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes blinds {
    from {
        clip-path: inset(0 0 100% 0)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes comb {
    from {
        clip-path: inset(0 0 0 100%)
    }

    to {
        clip-path: inset(0)
    }
}

@keyframes box {
    from {
        transform: scale(0.5)
    }

    to {
        transform: none
    }
}

@keyframes gallery {
    from {
        transform: translateY(60px) scale(0.9)
    }

    to {
        transform: none
    }
}

@keyframes clock {
    from {
        transform: rotate(-180deg)
    }

    to {
        transform: none
    }
}

@keyframes bars {
    from {
        filter: blur(10px)
    }

    to {
        filter: none
    }
}

@keyframes switch {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: none
    }
}

.mobile-bar-icon {
    font-size: 26px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.mobile-bar-icon {
    display: none;
}

.quick-access {
    display: none;
    font-size: 12px;
    color: var(--text-color-888);
    border: 1px solid;
    border-color: transparent #333;
    padding: 7px 20px;
    cursor: pointer;
    position: relative;
}

.quick-access--dropdown {
    right: 0;
    top: calc(100% + 1px) !important;
}

.quick-access--dropdown ul li {
    display: block;
    border: 1px solid #eaeaea;
}

.quick-access--dropdown ul li a {
    display: block;
    font-size: 12px;
    padding: 0 12px;
    color: var(--text-color-888);
}

.quick-access--dropdown ul li a:hover {
    color: var(--text-hover-color);
}

.quick-access--dropdown ul li a:hover>i {
    color: var(--text-color-888);
}