/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .padding-0-15 {
        padding: 0 60px;
    }

    .grid-md-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-md-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .mobile-bar-icon {
        display: block;
    }

    .quick-access {
        display: block;
    }

    .menu-top {
        line-height: 2.2rem;
    }

    .menu-top__flex {
        justify-content: unset;
    }

    .menu-top__left {
        flex: 0.905;
    }

    .menu-top__right {
        display: none;
    }

    .menu-center__logo {
        width: 200px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    .menu-center__grid-group {
        grid-template-columns: none;
        justify-content: center;
    }

    .menu-center__grid-group .menu-center__grid-group-text {
        display: none;
    }

    .menu-bottom__wrapper {
        margin: 0 60px;
    }

    .menu-bottom__list {
        display: none;
    }

    .products-section {
        margin-top: -20px;
    }

    .product-choose ul,
    .line.md {
        display: none;
    }

    .buy-now-col__img {
        min-width: 0;
    }

    .buy-now-col__img img {
        max-width: 400px;
    }

    .buy-now-col:last-child {
        padding-left: 0;
        margin-left: -20px;
    }

    .collection-list {
        display: none;
    }

    .banner-section-2 {
        gap: 20px;
        margin: -50px 0 -30px;
    }

    .banner-section-2__left,
    .banner-section-2__center,
    .banner-section-2__right {
        height: 70%;
    }

    .most-viewed-items .product-image {
        max-width: 90px;
        max-height: 110px;
    }

    .footer-wrapper {
        gap: 25px;
        padding: 30px 0;
    }

    .group-footer__title {
        margin-bottom: 6px;
    }

    .second-footer {
        flex-direction: column-reverse;
        padding: 20px 0;
        /* padding-bottom: 16px; */
    }

    .second-footer p {
        margin: 10px 0;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */