/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

@media (width: 1114px) {
    .padding-0-15 {
        padding: 0 60px;
    }

    .mobile-bar-icon {
        display: block;
    }

    .product-choose .mobile-bar-icon,
    .collection-section .mobile-bar-icon {
        display: none;
    }

    .menu-center__logo {
        min-width: 270px;
    }

    .menu-center__wrap-text {
        padding-left: 20px;
    }

    .menu-bottom__wrapper {
        margin: 0 60px;
    }

    .menu-bottom__list {
        display: none;
    }

    .banner-section-2__left,
    .banner-section-2__center,
    .banner-section-2__right {
        height: 235px;
    }

    .buy-now-col__img {
        min-width: 486px;
    }

    .most-viewed-items .product-image {
        max-width: 92px;
        max-height: 116px;
    }

    .blogs-item .image-animation__first {
        height: 180px;
    }

    .second-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .most-viewed-swiper .swiper-wrapper {
        row-gap: 0px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .grid-md-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-md-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .mobile-bar-icon {
        display: block;
    }

    .quick-access {
        display: block;
    }

    .menu-top {
        line-height: 2.2rem;
    }

    .menu-top__left {
        flex: 0.905;
    }

    .menu-top__right {
        display: none;
    }

    .menu-center__logo {
        padding-right: 0;
        width: 160px;
    }

    .menu-center__grid-group {
        grid-template-columns: none;
        justify-content: center;
        padding: 0;
    }

    .menu-center__wrap-text {
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .menu-center__grid-group .menu-center__grid-group-text {
        display: none;
    }

    .menu-bottom__list {
        display: none;
    }

    .products-section {
        margin-top: -20px;
    }

    .product-choose ul,
    .line.md {
        display: none;
    }

    .buy-now-col__img {
        min-width: 0;
    }

    .buy-now-col__img img {
        max-width: 400px;
    }

    .buy-now-col:last-child {
        padding-left: 0;
        margin-left: -20px;
    }

    .collection-list {
        display: none;
    }

    .banner-section-2 {
        gap: 20px;
        margin: -50px 0 -30px;
    }

    .banner-section-2__left,
    .banner-section-2__center,
    .banner-section-2__right {
        height: 70%;
    }

    .most-viewed-swiper .swiper-wrapper {
        row-gap: 0px;
    }

    .most-viewed-items .product-image {
        max-width: 90px;
        max-height: 110px;
    }

    .footer-wrapper {
        gap: 25px;
        padding: 30px 0;
    }

    .group-footer__title {
        margin-bottom: 6px;
    }

    .second-footer {
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    .second-footer p {
        margin: 10px 0;
    }

    .overlay-center {
        min-width: 700px;
    }
}

/* Galaxy Fold2 */
@media (width: 884px) {
    .padding-0-15 {
        padding: 0 60px;
    }

    .menu-top__flex {
        justify-content: unset;
    }

    .menu-bottom__wrapper {
        margin: 0 60px;
    }

    .menu-center__logo {
        min-width: 260px;
    }

    .menu-center__wrap-text {
        margin-bottom: 15px;
    }

    .second-footer {
        padding-top: 20px;
        padding-bottom: 10px;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .padding-0-15 {
        padding: 0;
    }

    .menu-bottom__wrapper {
        margin: 0;
    }

    .menu-center .common-flex {
        flex-direction: column;
    }

    .image-show-section {
        flex-wrap: wrap;
    }

    .image-show {
        width: 100%;
    }

    .image-layout-animation.flex-col-2 {
        width: unset;
    }

    .image-animation__second {
        flex-direction: column;
        align-items: center;
    }

    .sofa-italia,
    .discount-15-percent {
        width: 100%;
    }

    .product-choose {
        margin-bottom: 16px;
    }

    .product-wrapper {
        display: unset;
    }

    .buy-now-group.grid-col-2-auto {
        grid-template-columns: unset;
    }

    .buy-now-col__img img {
        max-width: 350px;
    }

    .buy-now-col:last-child {
        margin-left: 0;
        padding-left: 28px;
        padding-bottom: 80px;
    }

    .buy-now-col h2 {
        font-size: 48px;
    }

    .banner-section-2 {
        grid-template-columns: unset;
        margin: unset;
    }

    .banner-section-2__left,
    .banner-section-2__center,
    .banner-section-2__right {
        height: 100%;
    }

    .most-viewed-items .product-image {
        max-width: 130px;
        max-height: 160px;
    }

    .most-viewed-swiper .swiper-wrapper {
        row-gap: 0px;
    }

    .most-viewed-items .product-text-group {
        padding-left: 20px;
    }

    .suggest-collection__title,
    .latest-post__title {
        font-size: 16px;
    }

    .first-footer {
        padding: 20px 0;
    }

    .footer-wrapper {
        display: unset;
    }

    .footer-group {
        margin-bottom: 40px;
    }

    .second-footer {
        text-align: center;
        margin: 0 -20px;
        padding-top: 20px;
        padding-bottom: 8px;
    }

    .menu-center__wrap-text {
        width: 100%;
        padding: 25px 0;
    }

    .menu-center__logo {
        max-width: 150px;
    }

    .menu-bottom__navbar {
        gap: 0;
    }

    .menu-bottom__cart::before {
        left: -15px;
    }

    .menu-top__flex {
        justify-content: space-between;
    }

    .overlay-center {
        min-width: 200px;
        max-height: 550px;
    }

    .overlay-form {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, 1fr);
        gap: unset;
    }

    .overlay-input-group {
        flex-wrap: wrap;
        gap: 20px;
    }

    .overlay-title {
        font-size: 28px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

@media (max-width: 428px) {
    .buy-now-col__img img {
        max-width: 325px;
    }

    .content-box {
        padding-bottom: 0;
    }
}

@media (max-width: 376px) {
    .buy-now-col__img img {
        max-width: 310px;
    }
}

@media (max-width: 360px) {
    .buy-now-col__img img {
        max-width: 290px;
    }
}